.checkbox {
    color: #0ff;
}

.checkbox-box {
    display: flex;
    padding-bottom: 10px;
}

.checkbox-item {
    width: 100%;
    display: flex;
    /* justify-content:space-between; */
}

.checkbox-text-box {
    display: flex;
    justify-content: flex-end;
}

.checkbox-item--checked {
    animation-name: checkout_checkbox_item_slideout;
    animation-duration: 4s;
}

.checkbox-text--checked{
    /* color: #000; */
    margin-left: 10px;
    text-decoration: line-through;
    animation-name: checkout_checkbox_text;
    animation-duration: 1s;
}

.checkbox-text{
    margin-left: 10px;
}

.checkbox-input--checked{
    animation-name: checkout_checkbox_input;
    animation-duration: 1s;
}

.checkbox-text{
    text-decoration: none;
}

.paused {
    animation-play-state: paused;
}

@keyframes checkout_checkbox_text {
    from {
        color: #000;
    }
  
    to {
        opacity: 0.3;
    }
}

@keyframes checkout_checkbox_input {
    from {
    }
  
    to {
        opacity: 0.3;
    }
}

@keyframes checkout_checkbox_item_slideout {
    from {
        margin-left: 0;
    }
  
    to {
        margin-left: 200%;
    }
}


.delete-button {
    margin-right: 5%;
}

.favorite-button {
    margin-right: 5%;
    border: 1px solid rgb(233, 231, 177);
    border-radius: 5px;
    background-color: #fff;
}

.favorite-button-enabled {
    margin-right: 5%;
    animation-name: favorite_button_enabled_animation;
    animation-duration: 0.5s;
    background-color: #FF0;
    border: 1px solid rgb(233, 231, 177);
    border-radius: 5px;
}

@keyframes favorite_button_enabled_animation {
    from {
        background-color: #fff;
    }
  
    to {
        background-color: #FF0;
    }
}