.checkbox {
    color: #0ff;
}

.checkbox-box {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #838383;
}

.checkbox-item {
    width: 100%;
    display: flex;
    /* justify-content:space-between; */
}

.checkbox-text-box {
    display: flex;
    justify-content: flex-end;
}

.checkbox-item--checked {
    animation-name: checkout_checkbox_item_slideout;
    animation-duration: 4s;
}

.checkbox-item--checked-return {
    animation-name: checkout_checkbox_item_slide_right;
    animation-duration: 4s;
}

.checkbox-text--checked{
    /* color: #000; */
    margin-left: 10px;
    text-decoration: line-through;
    animation-name: checkout_checkbox_text;
    animation-duration: 1s;
}

.checkbox-text{
    margin-left: 10px;
}

.checkbox-input--checked{
    animation-name: checkout_checkbox_input;
    animation-duration: 1s;
}

.checkbox-input--checked-return{
    animation-name: checkout_checkbox_input;
    animation-duration: 1s;
}


.checkbox-text{
    text-decoration: none;
}

.paused {
    animation-play-state: paused;
}

@keyframes checkout_checkbox_text {
    from {
        color: #000;
    }
  
    to {
        opacity: 0.3;
    }
}

@keyframes checkout_checkbox_input {
    from {
    }
  
    to {
        opacity: 0.3;
    }
}

@keyframes checkout_checkbox_item_slideout {
    from {
        margin-left: 0;
    }
  
    to {
        margin-left: 200%;
    }
}


@keyframes checkout_checkbox_item_slide_right {
    from {
        margin-left: 0;
    }
  
    to {
        margin-left: -200%;
    }
}


.delete-button {
    margin-right: 5%;
    border: none;
    background-color: #fff;
}

.favorite-button {
    margin-right: 5%;
    /* border: 1px solid rgb(233, 231, 177); */
    border: none;
    /* border-radius: 5px; */
    background-color: #fff;
}

.favorite-button-enabled {
    margin-right: 5%;
    animation-duration: 0.5s;
    border: none;
    background-color: #FFF;
    /* border: 1px solid rgb(233, 231, 177); */
    /* border-radius: 5px; */
}



.button-floating-add-all {
    position: fixed;
    bottom: 0;
    margin-left: 30%;
    margin-bottom: 100px;
    filter: drop-shadow(2px 4px 4px #C4C4C4);
}