.header-menu {
    background-color: #5CA8EF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 5px;
}

.back-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.menu-dropdown{
    position: fixed;
    top: 10%;
    right: 10%;
    left: 55%;
}
