.bottom-nav {
    border: 4px solid #5CA8EF;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 50%;
    left: 0;
    bottom: 0;
    margin: 10%;
    margin-bottom: 20px;
}

.bottom-nav-item-active {
    color: #fff;
    background-color: #5CA8EF;
}

.bottom-nav-item {
    text-align: center;
}