.list {
    margin-left: 5%;
    background-color: #fff;
    min-height: 100vh;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #000;
}

.link-share {
    padding-top: 20%;
    text-align: center;
}

.share-main {
    display: flex;
    margin: 10px;
    justify-content: center;
}